*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
	scroll-behavior: smooth;

}

/*LANDING*/

#homesec {
	background: url(../images/background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;

}

nav {
	height: 100px;
	background-color: teal;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	justify-content: center;
	opacity: .8

}

nav > ul {
	display: flex;
	list-style-type: none;
	color: #0AE1FF;
	font-size: 12px
}

nav > ul > li {
	margin: 0 20px;

}

nav > ul > #homenav {
	color: #FFC300;
	text-decoration: none;
}

li > a:hover{
	color: #FFC300;
}

li > a {
	text-decoration: none;
	color: #FFC300;
}

h1 {
	color: #FFC300
}

p {
	color: teal;
}

.landing {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.landing > div {
	width: 20%;
	text-align: center;

}

.landing > div > div {
	text-align: center;
	margin-top: 30px;
}

.landing  div {
	margin-top: 40px;
}

.btn {
	background-color: teal;
	color: black;
	border-style: none;
	padding: 10px 30px;
	border-radius: 20px;
	transition: .4s;
	
}

.btn:hover{
	background-color: #fcb408;
	color: #fcb408;
	cursor: pointer;

}	

.btn > a {
	text-decoration: none;
	color: black;
}

/*PROFILE SECTION*/


.profile {
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background:	url(../images/background.jpg);
	background-position: center;
	background-size: cover;
}

.profile img {
	height: 200px;
	width: 250px;
	border-radius: 50%;
}

#aboutme {
	position: absolute;
	text-align: center;

}

h2 {
	color: #FFC300;
	text-align: center;

}


/*PROJECT SECTION*/

.section4 {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background:	url(../images/background.jpg);
	background-position: center;
	background-size: cover;
	border-bottom: solid gray;

}

.mainbox div {
	margin-top: 50px
}

.subBox {
	display: flex;
	justify-content: center;
}

.box1 {
	height: 300px;
	width: 250px;
	border: 1px	solid lightgray;
	border-radius: 5px;
	margin-right: 50px;
	position: relative;

}

.box1 img , .box2 img , .box3 img {
	height: 300px;
	width: 250px;

}

.box2 {
	height: 300px;
	width: 250px;
	border: 1px	solid lightgray;
	border-radius: 15px;
	margin-right: 50px;
	position: relative;
}

.box3 {
	height: 300px;
	width: 250px;
	border: 1px	solid lightgray;
	border-radius: 15px;
	margin-right: 50px;
	position: relative;
}

.box1:hover, .box2:hover, .box3:hover {
	box-shadow: 0px 10px 10px teal;
	bottom: 10px;
	transition: .5s;
}

/*SKILLS SECTION*/

#skill {
	background: url(../images/background2.jpg);
	background-position: center;
	background-size: cover;
	height: 50vh;
	border-bottom: 2px solid gray;
}

.section-title h2 {
	position: relative;
	top: 60px;
}
.skill-content{

	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skill-content img{
	width: 100px;
}

/*CONTACT SECTION*/

.contact > form {
	height: 60vh;
	width: 50%;
	text-align: center;
}

form > h4 {
	font-size: 50px;
	text-align: center;
	margin: 10px;
}

input {
	display: block;
	border: 1px solid teal;
	margin: 10px auto;
	height: 40px;
	width: 400px
	border-radius 10px;
}

textarea{
	display: block;
	border: 1px solid teal;
	margin: 10px auto;
	height: 40px;
	width: 400px
	border-radius 10px;

}
.contact{
	background: url(../images/background.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: left;
	align-items: center;
	height: 100vh;

}

.contact h4{
	color: teal;	
	font-family: 'Righteous', cursive;
}

h2{
	color: #fcb408;
	font-family: 'Righteous', cursive;
}

.footer {
	height: 15vh;
	background-color: black;
	border-top: 1px solid gray;
	font-family: sans-serif;
	text-align: center;
	
}

#footerlinks > a {
	margin-right: 20px;
	text-decoration: none;
	font-size: 15px;
	position: relative;
	top: 35px;

}

#footerlinks > a:visited{
	text-decoration: none;
	text-decoration-style: none;
	color: white;
}
#footerlinks > a > i:visited{
	text-decoration: none;
	color: white;
}

/*MEDIA iphone*/

@media only screen and (min-width: 375px) and (max-width: 668px) {
	.landing {
		position: relative;
		font-size: 10px;
	}
	
}	
